{% load static %}
<nav class="navbar navbar-expand-lg py-3">
  <div class="container">
    <div class="logo-container">
      <!-- <i class="fa-solid fa-shield-halved ara-logo"></i> -->
      <a href="{% url 'directory:list' %}">
        <img
          src="{% static 'img/logos/FRDM_master_logo.png' %}"
          alt="{{SITE.NAME}} Logo"
          class="me-2 logo-light"
          style="height: 2rem"
        />
        <img
          src="{% static 'img/logos/FRDM_master_logo_white.png' %}"
          alt="{{SITE.NAME}} Dark Logo"
          class="me-2 logo-dark"
          style="height: 2rem"
        />
      </a>
      <a class="navbar-brand fw-bold" href="{% url 'directory:list' %}"
        >{{SITE_NAME}}</a
      >
    </div>
    <button
      class="navbar-toggler shadow-none ms-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navigation"
      aria-controls="navigation"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100"
      id="navigation"
    >
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item mx-2">
          <a
            class="nav-link ps-2 d-flex align-items-center"
            href="{% url 'directory:list' %}"
          >
            <i class="fa-solid fa-home me-2"></i> Patriot Directory
          </a>
        </li>
        <li class="nav-item mx-2">
          <a
            class="nav-link ps-2 d-flex align-items-center"
            href="{% url 'directory:list' %}"
          >
            <i class="fa-solid fa-info-circle me-2"></i> Businesses
          </a>
        </li>
        <li class="nav-item mx-2">
          <a
            class="nav-link ps-2 d-flex align-items-center"
            href="{% url 'onchain:list' %}"
          >
            <i class="fa-solid fa-envelope me-2"></i> OnChain
          </a>
        </li>
        <li class="nav-item mx-2">
          <a
            class="nav-link ps-2 d-flex align-items-center"
            href="{% url 'ranking:list' %}"
          >
            <i class="fa-solid fa-envelope me-2"></i> Rankings
          </a>
        </li>
        <li class="nav-item mx-2">
          <a
            class="nav-link ps-2 d-flex align-items-center"
            href="{% url 'usersapp:list' %}"
          >
            <i class="fa-solid fa-envelope me-2"></i> Users
          </a>
        </li>
        {% if user.is_authenticated %}

        <li class="nav-item mx-2">
          <a
            class="nav-link ps-2 d-flex align-items-center"
            href="{% url 'directory:create' %}"
          >
            <i class="fa-solid fa-envelope me-2"></i> New Business
          </a>
        </li>

        <li>
          <form action="{% url 'logout' %}" method="POST" class="d-inline">
            {% csrf_token %}
            <button
              type="submit"
              class="dropdown-item d-flex align-items-center py-2 text-danger"
            >
              <i class="fa-solid fa-sign-out-alt fa-fw me-2"></i> Logout
            </button>
          </form>
        </li>
        {% else %}
        <li>
          <a
            class="nav-link ps-2 d-flex align-items-center"
            href="{% url 'login' %}"
          >
            <i class="fa-solid fa-sign-in-alt fa-fw me-2"></i>
            Login
          </a>
        </li>
        {% endif %}
        <li class="nav-item ms-2">
          <button id="themeToggle" class="theme-toggle">
            <i class="fa-solid fa-sun"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
